# Project exclude paths
/.gradle/
/build/
/composeApp/build/
/composeApp/build/classes/kotlin/desktop/main/
/composeApp/build/classes/kotlin/iosSimulatorArm64/main/klib/
/shared/build/
/shared/build/classes/kotlin/iosSimulatorArm64/main/klib/
/shared/build/classes/kotlin/jvm/main/
/iosApp/Configuration/Config.xcconfig